<div class="body" [ngClass]="getBodyClass()">
    <div class="background">
        <h1 class="heading1">BUY INSURANCE</h1>
  
        <div class="headings-1">
            <h2 class="heading2">INSURANCE DETAILS</h2>
            <h3 class="heading3">The below fields contains details of the insurance</h3>
            <h3 class="insurancedetails">Insurance ID : {{ primary_subscriber.insuranceId }}</h3>
            <h3 class="insurancedetails">Insurance Name: {{ primary_subscriber.insuranceName }}</h3>
            <h3 class="insurancedetails">Insurance Type: {{ primary_subscriber.insuranceType }}</h3>
        </div>
  
        <h3 class="relationheadins">Primary Subscriber Details</h3>
  
        <form  class="form">
          <h3 class="input-heading">Primary Subscriber Email*</h3>
          <mat-form-field class="firstname" appearance="outline">
              <input [(ngModel)]="primary_subscriber.email" matInput autocomplete="off" required name="email" type="email">
            </mat-form-field>

            <hr style="height:2px;width:100%;text-align:left;border-width:0;margin-bottom:20px;background-color: #c9c9c7;">

            <h3 class="input-heading">Primary Subscriber Firstname*</h3>
            <mat-form-field class="firstname" appearance="outline" >
              <input [(ngModel)]="primary_subscriber.primarySubscriberFirstname"  matInput autocomplete="off" type="text" required  name="primarySubscriberFirstname">
            </mat-form-field>

            <hr style="height:2px;width:100%;text-align:left;border-width:0;margin-bottom:20px;background-color: #c9c9c7;">
            <h3 class="input-heading">Primary Subscriber Middlename*</h3>
            <mat-form-field class="firstname" appearance="outline" >
              <input [(ngModel)]="primary_subscriber.primarySubscriberMiddlename" matInput autocomplete="off" type="text" required  name="primarySubscriberMiddlename">
              
            </mat-form-field>

            <hr style="height:2px;width:100%;text-align:left;border-width:0;margin-bottom:20px;background-color: #c9c9c7;">
            <h3 class="input-heading">Primary Subscriber Last Name*</h3>
            <mat-form-field class="firstname" appearance="outline" >
              <input [(ngModel)]="primary_subscriber.primarySubscriberLastname"  autocomplete="off" matInput type="text" required  name="primarySubscriberLastname">
              
            </mat-form-field>

            <hr style="height:2px;width:100%;text-align:left;border-width:0;margin-bottom:20px;margin-bottom:20px;background-color: #c9c9c7;">
            <h3 class="input-heading">Primary Subscriber Age*</h3>
            <mat-form-field class="firstname" appearance="outline" >
              <input [(ngModel)]="primary_subscriber.primarySubscriberAge" autocomplete="off" matInput type="number" required  name="primarySubscriberAge">
              
            </mat-form-field>

            <hr style="height:2px;width:100%;text-align:left;border-width:0;margin-bottom:20px;background-color: #c9c9c7;">
            <h3 class="input-heading">Primary Subscriber Address*</h3>
            <mat-form-field class="firstname" appearance="outline" >
              <input [(ngModel)]="primary_subscriber.primarySubscriberAddress" autocomplete="off" matInput type="text" required  name="primarySubscriberAddress">
              
            </mat-form-field>
            
            <hr style="height:2px;width:100%;text-align:left;border-width:0;margin-bottom:20px;background-color: #c9c9c7;">
            <h3 class="input-heading">Primary Subscriber Aadhar*</h3>
            <mat-form-field class="firstname" appearance="outline" >
              <input [(ngModel)]="primary_subscriber.primarySubscriberAadharNo" autocomplete="off" matInput type="number" required  name="primarySubscriberAadharNo">
              
            </mat-form-field>
            <hr style="height:2px;width:100%;text-align:left;border-width:0;margin-bottom:20px;background-color: #c9c9c7;">
            <h3 class="input-heading">Primary Subscriber Pan Number*</h3>
            <mat-form-field class="firstname" appearance="outline" >
              <input [(ngModel)]="primary_subscriber.primarySubscriberPanNo" autocomplete="off" matInput type="text" required  name="primarySubscriberPanNo">
            </mat-form-field>
            <hr style="height:2px;width:100%;text-align:left;border-width:0;margin-bottom:20px;background-color: #c9c9c7;">
            <h3 class="input-heading">Primary Subscriber Phone*</h3>
          <mat-form-field class="firstname" appearance="outline">
              <input [(ngModel)]="primary_subscriber.primarySubscriberPhone" matInput autocomplete="off" required name="primarySubscriberPhone" type="number">
            </mat-form-field>

            <hr style="height:2px;width:100%;text-align:left;border-width:0;margin-bottom:20px;background-color: #c9c9c7;">
            <h3 class="input-heading">Primary Subscriber Gender*</h3>
          <mat-form-field class="firstname" appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select [(ngModel)]="primary_subscriber.primarySubscriberGender" required name="primarySubscriberGender">
              <mat-option value="Male">Male</mat-option>
              <mat-option value="Female">Female</mat-option>
              <mat-option value="Transgender">Transgender</mat-option>
            </mat-select>  
            </mat-form-field>
            <hr style="height:2px;width:100%;text-align:left;border-width:0;margin-bottom:20px;background-color: #c9c9c7;">


            
            <button class="submit"  mat-raised-button (click)="back()">Back</button>
      </form>
    </div>
  </div>
