<div class="body" [ngClass]="getBodyClass()">
    <h1 class="heading1">Dental Insurance Plans</h1>
    <button class="add" (click)="addnewplan()">Add new plan</button>
    <div class="card" *ngFor='let pl of plans'>
        <div class="card-head">
            Insurance Id : {{ pl.insuranceId}} | &nbsp; Insurance Name : {{ pl.insuranceName }} | 
            &nbsp;Premium: starting 1084/- montly &nbsp; | Insurance Covered: {{ pl.coverage }}
            <i id="edit" (click)="updatedentalinsurance(pl.insuranceId)" class="fa-solid fa-pen-to-square" title="Edit"></i>
            <i id="delete" (click)="deletedentalinsurance(pl.insuranceId)" class="fa-solid fa-trash-can" title="delete"></i>
        </div>
        <div class="card-body">
                {{ pl.insuranceDescription }}
        </div>
    </div>
    <button class="back" routerLink="/admindashboard">Back</button>
</div>
