<div class="sidenav" [ngClass]="collapsed ? 'sidenav-collapsed': '' ">
    <div class="logo-container">     
    <button class="logo" (click)="toggleCollapse()">I</button>
    <div class="logo-text" @fadeInOut *ngIf="collapsed">IMPETUS</div>
    <button class="btn-close"  >
        <div class="btn-closed" *ngIf="collapsed" @rotate (click)="closesidenav()">
            <i class="fa-solid fa-xmark"></i>
        </div>
    </button>
    </div>
    <ul class="sidenav-nav">
        <li class="sidenav-nav-item" *ngFor='let data of navData'>
            <a class="sidenav-nav-link" routerLink="{{data.routerLink}}"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact:true}">
                <i id="sidenav-link-icon" class="icon" class="{{data.icon}}"></i>
                <span class="sidenav-link-text" @fadeInOut *ngIf="collapsed">{{data.label}}</span>
            </a>
        </li>
    </ul>
</div>
