@font-face {
    font-family:biryani;
    src: url(/assets/fonts/Biryani-ExtraBold.ttf) format('truetype');
}
.biryani{
    font-family: biryani;
}
@font-face {
    font-family:candal;
    src: url(/assets/fonts/Candal-Regular.ttf) format('truetype');
}
.chango{
    font-family: candal;
}
.body{
    width: calc(100% -5rem);
    height: 100vh;
    margin-left:4rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
    background: #f4f7fa;
    padding: 3rem; 
}
.body-trimmed{
width: calc(100%-16.5625rem);
margin-left: 16.5625rem;

}
.body-md-screen{
    width: calc(100%-5rem);
    margin-left: 5rem;
    
}
.heading1{
    font-size: 30px;
    font-weight: 1000;
}
.heading2{
    font-size:15px;
    color: #6a6c6e;
    font-family: cursive;
}
.plan1{
    position:absolute;
    height: 200px;
    width: 200px;
    background: #fff;
    border-radius: 35px;
    top:19% ;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}
.plan2{
    position: absolute;
    height: 200px;
    width: 200px;
    background: #fff;
    top: 19%;
    left: 20%;
    border-radius: 35px;
    margin-left: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}
.plan3{
    position: absolute;
    height: 200px;
    width: 200px;
    background: #fff;
    top: 19%;
    left: 37%;
    border-radius: 35px;
    margin-left: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    
}
.inner-heading{
    font-size: 14px;
    position:relative;
    top: 13%;
    left: 10%;
    font-weight: 600;
    color: #b8b7b4;
    font-family: cursive;
}
#div-icons{
    font-size: 50px;
    position: relative;
    left: 10%;
    top: 10%;
    color: #000;
}
.rs{
    position: relative;
    color: black;
    font-size: 25px;
    font-weight: 800;
    left: 10%;
    top: 11%;
    font-family: candal;
}

.heading3{
    position: relative;
    font-size:15px;
    color: #6a6c6e;
    font-family: cursive;
    top: 35%;
}

.your-f{
    position:absolute;
    height: 200px;
    width: 200px;
    background: #fff;
    border-radius: 35px;
    top:55% ;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}
.your-m{
    position: absolute;
    height: 200px;
    width: 200px;
    background: #fff;
    top: 55%;
    left: 20%;
    border-radius: 35px;
    margin-left: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}
.your-d{
    position: absolute;
    height: 200px;
    width: 200px;
    background: #fff;
    top: 55%;
    left: 37%;
    border-radius: 35px;
    margin-left: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
    
}
.your-fp{
    position: absolute;
    height: 200px;
    width: 200px;
    background: #fff;
    top: 55%;
    left: 54%;
    border-radius: 35px;
    margin-left: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}
.your-p{
    position: absolute;
    height: 200px;
    width: 200px;
    background: #fff;
    top: 55%;
    left: 71%;
    border-radius: 35px;
    margin-left: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    cursor: pointer;
}
.inner-heading{
    font-size: 14px;
    position:relative;
    top: 13%;
    left: 10%;
    font-weight: 600;
    color: #b8b7b4;
    font-family: cursive;
}
#div-icons{
    font-size: 50px;
    position: relative;
    left: 10%;
    top: 10%;
    color: #000;
}
.count{
    position: relative;
    color: black;
    font-size: 35px;
    font-weight: 800;
    left: 10%;
    top: 11%;
    font-family: candal;
}
.inner-heading-r{
    font-size: 14px;
    position:relative;
    top: 15%;
    left: 10%;
    font-weight: 600;
    color: #b8b7b4;
    font-family: cursive;
}
.plan1:hover,.plan2:hover,.plan3:hover,.your-d:hover,.your-f:hover,.your-m:hover,.your-p:hover,.your-r:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}