<div class="background">
    <div class="fg-screen">
        <div class="left">
            <img class="logo" src="/assets/Img/logo1.png" alt="">
            <h4 class="company">IMPETUS INSURANCE</h4>
            <img class="fg-icon" src="/assets/Img/FgIcon.png" alt="">
        </div>

        <div class="right">
            <h1 class="heading1">Forgot <br> <br>Password ?</h1>  
            
            <form (ngSubmit)="changePassword()" class="form">
                <mat-form-field class="username" appearance="outline">
                    <input [(ngModel)]="user_data.email" type="email" matInput autocomplete="off" maxlength="30" required placeholder="Enter your Email Id" name="email">
                    <mat-icon class="color-black" matPrefix>email</mat-icon>
                  </mat-form-field>

                  <mat-form-field class="password" appearance="outline" >
                    <input [(ngModel)]="user_data.password" matInput type="password" maxlength="10" required placeholder="Enter password" name="Password">
                    <mat-icon class="color-black" matPrefix >lock</mat-icon>
                    
                  </mat-form-field>

                  <mat-form-field class="password2" appearance="outline" >
                    <input [(ngModel)]="user_data.confirmpassword" maxlength="10" matInput type="password" required placeholder="Re-enter password" name="Password">
                    <mat-icon class="color-black" matPrefix >lock</mat-icon>
                    
                  </mat-form-field>

                  <a><button class="submit" type="submit" mat-raised-button>Change Password</button></a>
            </form>
        </div>
    </div>
</div>

