@font-face {
    font-family: fredoka;
    src: url(/assets/fonts/Fredoka-Bold.ttf);
}
.body{
    width: calc(100% -5rem);
    height: 100vh;
    margin-left:4rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
    background: #f4f7fa;
    padding: 3rem; 
}
.body-trimmed{
width: calc(100%-16.5625rem);
margin-left: 16.5625rem;

}
.body-md-screen{
    width: calc(100%-5rem);
    margin-left: 5rem;
    
}
.heading1{
    font-size: 30px;
    font-weight: 1000;
    margin-bottom: 50px;
}
.heading2{
    font-size: 25px;
    font-weight: 1000;
    margin-bottom: 50px;
}
.heading3{
    margin-top: 50px;
    font-size: 25px;
    font-weight: 1000;
    margin-bottom: 50px;
}
.card{
    display: flex;
    flex-direction: column;
    border-radius: .5rem;
    background-color:#fff ;
    margin: 0 0.25rem .5rem #e6edef;
    margin-bottom: 30px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-head{
    padding: 1rem 1.5rem;
    border-bottom: 1px solid #f4f7fa;
    font-size: 1rem;
    font-family: fredoka;
}
.card-body{
    font-family:fredoka;
    padding:1rem 1.5rem
    
}
.buydental{
    width: 200px;
   height: 35px;
   background-color: #000;
   border-radius: 5px;
   color: #fff;
   font-family: fredoka;
   outline-style: none;
   cursor: pointer;
   float: right;
}
.buymedical{
    width: 200px;
    height: 35px;
    background-color: #000;
    border-radius: 5px;
    color: #fff;
    font-family: fredoka;
    outline-style: none;
    cursor: pointer;
    float: right;
}