
<div class="background">
    
    <div class="home">
        <img class="logo" src="../assets/Img/logo1.png">
        <h4 class="company">IMPETUS INSURANCE</h4>
        <img class="image" src="../assets/Img/heart.png">
        <h1 class="heading1">DENTAL AND MEDICAL</h1>
        <h1 class="heading2">INSURANCE</h1>
        <router-outlet name="dashboardrouter"></router-outlet>

        <p class="quote">" Money doesn't buy Health Insurance. 
            <br> <br> Good health buys Health Insurance, Money Just pays for it "</p>

        <button class="getstarted" mat-raised-button routerLink="/login">Get  Started</button>
    </div>
    
</div>

