@font-face {
    font-family:fredoka;
    src: url(/assets/fonts/Fredoka-Medium.ttf) format('truetype');
}
.body{
    width: calc(100% -5rem);
    height: 100vh;
    margin-left:4rem;
    z-index: 0;
    position: relative;
    top: 0;
    transition: all .5s ease;
    background: #f4f7fa;
    padding: 3rem; 
}
.body-trimmed{
width: calc(100%-16.5625rem);
margin-left: 16.5625rem;

}
.body-md-screen{
    width: calc(100%-5rem);
    margin-left: 5rem;
    
}
.heading1{
    font-size: 30px;
    font-weight: 1000;
    margin-bottom: 50px;
}
.hide{
    display: none;
}

mat-footer-row mat-footer-cell{
    justify-content: center;
    font-style: italic;
}
mat-cell{
    font-family: fredoka;
}
mat-header-cell{
    font-family: fredoka;
    font-size: 15px;
    color: #000;
}
i{
    font-size:20px;
    color:#000;
    cursor:pointer;
    margin-right: 30px;
    transition: all 0.2s ease;
}
i:hover{
    color:red;
    font-size: 25px;
}
.back{
    margin-top: 30px;
    width: 200px;
    height: 35px;
    background-color: #000;
    font-size: 15px;
    border-radius: 5px;
    color: #fff;
    font-family: fredoka;
    cursor: pointer;
    float: right;
}