<div class="body" [ngClass]="getBodyClass()">
    <h1 class="heading1">Pending Insurances</h1>
    <mat-table [dataSource]="listData" matSort>
        <ng-container matColumnDef="insuranceNumber">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Insurance Number</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.insuranceNumber }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="email">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.email }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="insuranceId">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Insurance Id</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.insuranceId}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="insuranceType">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Insurance Type</mat-header-cell>
            <mat-cell *matCellDef="let element">{{ element.insuranceType }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>Action</mat-header-cell>
            <mat-cell *matCellDef="let row">
                <i class="fa-solid fa-eye" title="View Application" (click)="route(row.insuranceNumber,row.email)"></i>
                <i class="fa-solid fa-comment-dots" title="Give Feedback"(click)="dialog(row.insuranceNumber)"></i>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="Loading">
            <mat-footer-cell *matFooterCellDef colspan="6">
                Loading data...
            </mat-footer-cell>
        </ng-container>
        <ng-container matColumnDef="noData">
            <mat-footer-cell *matFooterCellDef colspan="6">
                No data
            </mat-footer-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row columns displayedColumns"></mat-row>
        <mat-footer-row *matFooterRowDef="['Loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
        <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>

    </mat-table>
    <mat-paginator [pageSizeOptions]="[5,10,25,100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
    <button class="back" routerLink="/admindashboard">Back</button>
</div>

